*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgb(15, 15, 15);
    font-family: sans-serif;
}

    /* HEADER */

.container{
    height: 80px;
    background-color: rgb(7, 7, 7);
    border-bottom: solid 1px #2b2828;
    display: flex;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo{
    width: 150px;
    object-fit: contain;
    margin-left: 80px;
}

    /* BOTÃO HEADER */

.bntheader{
    margin-left: 700px;
    margin-top: 26px;
}

div > .bntheader > a{
    text-decoration: none;
    color: rgb(167, 156, 156);
    transition: 0.3s;
    font-size: 14px;
}

div > .bntheader > a:hover{
    color: #ffffff;
    border-bottom: 2px solid rgb(221, 11, 11);
    font-size: 15px;
}

.imgaranha > img{
    width: 100%;
    box-shadow: #00ff8038 0px 20px 30px -10px;
    border-bottom: solid 1px #00ff803b;
}

    /* Slides */

.slider{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    border-bottom: #fd8a8a8f 1px solid;
    box-shadow: rgba(167, 18, 18, 0.5) 0px 10px 36px 0px, rgba(255, 0, 0, 0.336) 0px 0px 0px 1px;
}

.slidefirst img{
    width: 100%;
    height: 1080px;
}

.slides{ 
    width: 100%;
    height: 1080px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
}

.slide img{
    width: 100%;
}

.slidefirst{
    width: 100%;
    display: flex;
}

.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #ffffff;
    padding: 4px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.manual-btn:not(:last-child){
    margin-right: 25px;
}

.manual-btn:hover{
    background-color: #ffffff;
}
#radio1:checked ~ .slidefirst{
    margin-left: 0;
    transition: 1s;
}

#radio2:checked ~ .slidefirst{
    margin-left: -100%;
    transition: 1s;
}

#radio3:checked ~ .slidefirst{
    margin-left: -200%;
    transition: 1s;
}

#radio4:checked ~ .slidefirst{
    margin-left: -300%;
    transition: 0.5s;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 4px;
    width: 40px;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.5s;
}

.navigation-auto{
    position: absolute;
    width: 792px;
    margin-top: 1040px;
    display: flex;
    justify-content: end;
}

.navigation-auto div:not(:last-child){
    margin-right: 25px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #ffffff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #ffffff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #ffffff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #ffffff;
}
