*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(3,3,28,1) 51%, rgba(0,0,6,1) 100%);
    font-family: sans-serif;
}
    /* HEADER */
.container{
    height: 80px;
    background-color: black;
    border-bottom: solid 1.5px rgb(58, 54, 54);
    display: flex;

}

.logo{
    width: 150px;
    object-fit: contain;
    margin-left: 80px;
}

    /* BOTÃO HEADER */

.bntheader{
    margin-left: 700px;
    margin-top: 26px;
}

div > .bntheader > a{
    text-decoration: none;
    color: grey;
    transition: 0.3s;
    font-size: 14px;
}

div > .bntheader > a:hover{
    color: #00FF7F;
    text-shadow: 1px 1px 2px #00FF7F; 
}

.imgaranha > img{
    width: 100%;
    box-shadow: #00ff8038 0px 20px 30px -10px;
    border-bottom: solid 1px #00ff803b;
}

    /* NOTICIAS RELACIONADAS */

div > .noticiasrelacionadas{
    display: flex;
    
}

.noticiasrelacionadas > h3{
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    color: #ffffff;
    text-shadow: 3px 3px 5px #000000;
}

